header {
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: #a28089;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  color: black;
  padding: 16px;
  margin-bottom: 5px;
}

#blogName {
  color: black;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -5px;
  background-color: white;
}

.homepage-main {
  margin-top: 34px;
}

.user-name {
  background-color: pink;
}

.blogPost-main {
  margin-top: 34px;
}


.navBar {
  background-color: pink;
}

#logout {
  background-color: grey;
}

#titleInput,
#bodyInput,
#comment,
#email-login,
#password-login,
#name-signup,
#email-signup,
#password-signup {
  background-color: grey;
}


.btn {
  background-color: pink;
}


.card-header {
  background-color: pink;
}

.card-body {
  background-color: grey;
}

.card {
  background-color: grey;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}